<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<th:block th:insert="~{/_header}"></th:block>
<th:block th:insert="~{/_menu}"></th:block>

<h1>All Products</h1>

<form th:action="@{/products}" method="get">
    <input type="text" name="search" placeholder="Search by name">
    <button type="submit">Search</button>
</form>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td><a th:href="@{'/products/add/' + ${product.id}}" class="add-btn">Do koszyka</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>